<div class="cardeditPgae">
  <div class='container'>
    <h2 class="text-center">edit</h2>
    <%= form_with model: @user, url: { action: :update }, html: { class: 'cardeditForm' }, local: true do |f| %>
      <% if @user.errors.any? %>
        <p class="text-danger">名前は2～15文字以内で入力してください</p>
      <% end %>
      <div class="cardeditForm_title">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
      </div>

      <div class="text-center">
        <%= f.submit "更新する", class: "submitBtn" %>
      </div>
    <% end %>
    
    <div class="text-center">
      <%= link_to "退会する", quit_users_path, class: "text-danger delete_btn" %>
    </div>
  </div>
</div>