<header class="header">
      <nav class="nav">
        <ul class="header_menu">
          <li class="header_menu_title"><%= link_to "Todo", root_path, class: "nav-link" %></li>
          <% if user_signed_in? %>
            <li class="nav-link"><%= current_user.name %>さん</li>
          <li>
            <ul class="header_menu_inner">
              <li>
                <%= link_to new_list_path, class: "nav-link" do %>
                  <span class="mr-1">リストを作成</span>
                  <i class="fas fa-edit"></i>
                <% end %>
              </li>
              <li><%= link_to "マイページ", user_path(current_user), class: "nav-link" %></li>
              <li><%= link_to "サインアウト", destroy_user_session_path, class: "nav-link", method: :delete %></li>
          <% else %>
              <li class= "nav-link"></li>
          <% end %>
            </ul>
          </li>
        </ul>
      </nav>
</header>